<% if (includeMultiLanguage) { %>include ../helpers/_language<% } %>

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
head
  meta(charset="utf-8")
  title <%= projectName %>
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="/favicon.ico")

  link(rel="stylesheet", href="/styles/main.css")

  <% if (includeModernizr) { %>

  script(src="/scripts/plugins/modernizr.js")

  <% } %>

body

  include ../modules/_header

  main
    block content

  include ../modules/_footer
  
  script(src="/scripts/main.js")

| </html>
