extends layouts/_default

block content
  // Sample intro
  .sample-intro
    h1 Please <%= projectName %> come for G.
    h2 Hodd luck!
    <% if (includeStyleguide) { %>h3
      a(href="styleguide.html") View styleguide
        i.icon.icon-m arrowright<% } %>
    p= index.footer
