extends layouts/_default

block content
  // Sample intro
  .sample-intro
    h1 Please <%= projectName %> come for G.
    h2 Hodd luck!
      <% if (includeMultiLanguage) { %>span
        !=l(index.greeting)<% } %>
    p= index.footer
