// ---------------------------------------------
// HELPERS
// ---------------------------------------------

@mixin color(
  $color-fallback, 
  $color){
    color: $color-fallback;
    color: $color;    
}

@mixin user-select(
  $select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select;
          user-select: $select;
}

@mixin font-size(
  $font-size,
  $font-size-root) {
    font-size: $font-size;
    font-size: ($font-size / $font-size-root) * 1rem;
}

@mixin text-ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin visually-hidden {
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
}

// -------------------------------
// FUNCTIONS

@function _get-em(
  $size,
  $font-size ){
    
  @return $size / $font-size * 1em;  
}

@function _get-rem(
  $size,
  $font-size-root ){
    
  @return $size / $font-size-root * 1rem;  
}

// -------------------------------
// MEDIA QUERIES

@mixin media($feature, $value) {
  @media screen and ($feature: $value) { @content }
}

// -------------------------------
// BROWSER TARGETING

// Mozilla Firefox
@mixin apply-to-moz {
    @-moz-document url-prefix() {
        html { @content }
    }
}

// Chrome & Safari
@mixin apply-to-webkit {
    @media screen and (-webkit-min-device-pixel-ratio:0) { @content }
}
