// ---------------------------------------------
// LAYOUT
// ---------------------------------------------

// -- Nicolas Gallagher's micro clearfix
@mixin clearfix {
  *zoom: 1;           // For IE 6/7 (trigger hasLayout)
  &:before, &:after { // For modern browsers
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin clearfix-old {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  html[xmlns] & { display: block; }
  * html & { height: 1% }
}

@mixin center-unknown(
  $selector) {
  text-align: center;
  &:before {
    content: '';
    height: 100%;
    margin-right: -0.5em;
    display: inline-block;
    vertical-align: middle;
  }
  #{$selector} {
    display: inline-block;
  }
}

@mixin box-sizing(
  $sizing){
    -webkit-box-sizing: $sizing;
            box-sizing: $sizing;
}

@mixin calc(
  $property, 
  $calc, 
  $fallback: false) {

    @if $fallback != false {
      #{$property} : $fallback;
    }
    #{$property} : -webkit-calc(#{unquote($calc)});
    #{$property} : calc(#{unquote($calc)});
}