// ---------------------------------------------
// TRANSFORMS
// ---------------------------------------------

@mixin transform(
  $arguments...){
    -webkit-transform: $arguments;
        -ms-transform: $arguments;
            transform: $arguments;
}

@mixin transform-origin(
  $origin) {
    -webkit-transform-origin: $origin;
            transform-origin: $origin;
}

@mixin transform-style(
  $style) {
    -webkit-transform-style: $style;
            transform-style: $style;
}

@mixin perspective(
  $perspective) {
    -webkit-perspective: $perspective;
            perspective: $perspective;
}

@mixin perspective-origin(
  $origin) {
    -webkit-perspective-origin: $origin;
            perspective-origin: $origin;
}

@mixin backface-visibility(
  $visibility) {
    -webkit-backface-visibility: $visibility;
            backface-visibility: $visibility;
}