// ---------------------------------------------
// COMPONENTS
// ---------------------------------------------

// ---------------------------------------------
// STYLE GUIDE WELCOME 

  .style-guide-welcome {
    width: 100%;
    height: 100%;
    background-color: $style-guide-bg-color;
    color: $style-guide-text-color;
    text-align: center;
    @include center-unknown('.style-guide-welcome_headline');
  }

  .style-guide-welcome_headline {
    display: inline-block;
    font-family: $style-guide-font-family;
    @include font-size(64px, $font-size-root);
    vertical-align: middle;
    a {
      color: $style-guide-text-color;
      @include font-size(16px, $font-size-root);
    }
    .light-logo {
      display: block;
      width: 175px;
      height: 175px;
      font-size: 512px;
      line-height: 1;
      vertical-align: middle;
    }
  }
