// ---------------------------------------------
// CONFIGURATION
// ---------------------------------------------

// ----------------------------
// GENERAL

  $default-bg-color:    $color-white !default;
  $default-text-color:  $color-black !default;

  // selection
  $selection-bg-color:    $color-orange !default;
  $selection-text-color:  $color-white !default;
  
// ----------------------------
// TYPOGRAPHY

  $default-font-family:           $font-family-helvetica !default;
  $default-font-size:             $font-size-root !default;
  $default-line-height:           $line-height-normal !default;
  $default-text-margin-vertical:  $space-text !default;

  $headline-font-family:    $font-family-modernica !default;
  
  $subheadline-font-family: $font-family-modernica !default;
  $subheadline-text-color:  $color-semiblack !default;
  
  
  $h1-font-size:    $font-size-xl !default;
  $h1-font-size-s:  $font-size-l !default;
  $h1-font-size-xs: $font-size-l * 0.8 !default;
  $h1-line-height:  $line-height-xl !default;
  $h1-margin:       $text-margin-xl !default;
  
  $h2-font-size:    $font-size-l !default;
  $h2-font-size-s:  $font-size-m !default;
  $h2-font-size-xs: $font-size-m * 0.8 !default;
  $h2-line-height:  $line-height-l !default;
  $h2-margin:       $text-margin-l !default;
  
  $h3-font-size:    $font-size-m !default;
  $h3-font-size-s:  $font-size-s !default;
  $h3-line-height:  $line-height-m !default;
  $h3-margin:       $text-margin-m !default;
  
  $h4-font-size:    $font-size-s !default;
  $h4-font-size-s:  $font-size-xs !default;
  $h4-line-height:  $line-height-s !default;
  $h4-margin:       $text-margin-s !default;
  
  $subh1-font-size:   $font-size-sub-xl !default;
  $subh1-font-size-s: $font-size-sub-l !default;
  $subh1-line-height: 36px !default;
  
  $subh2-font-size:     $font-size-sub-l !default;
  $subh2-font-size-s:   $font-size-sub-m !default;
  $subh2-font-size-xs:  $font-size-sub-s !default;
  $subh2-line-height:   32px !default;
  
  $subh3-font-size:   $font-size-sub-m !default;
  $subh3-font-size-s: $font-size-sub-s !default;
  $subh3-line-height: 32px !default;
  
  $subh4-font-size:   $font-size-sub-s !default;
  $subh4-line-height: 29px !default;
  
  $hero-font-family:  $font-family-modernica !default;
  $hero-font-size:    $font-size-m !default;
  $hero-font-size-s:  $font-size-s !default;
  $hero-line-height:  $line-height-m !default;
  
  $small-font-size:   $font-size-xxs !default;
  
  $desc-text-color:   $color-semiblack !default;
  
  $link-text-color:       $color-orange !default;
  $link-hover-text-color: $color-orange-light !default;
  $link-ease: $ease-300 !default;
  
  $text-color-black:      $color-black !default;
  $text-color-semiblack:  $color-semiblack !default;
  $text-color-white:      $color-white;
  
  $hr-bg-color: $color-semiblack-2 !default;

// ----------------------------
// ICONS

  $icon-xl: $icon-48 !default;
  $icon-l: $icon-32 !default;
  $icon-m: $icon-24 !default;
  $icon-s: $icon-16 !default;
  
  $icon-white: $color-white !default;
  $icon-semiwhite: $color-semiwhite !default;
  
  $icon-ease: $ease-300 !default;

// ----------------------------
// GRID 

  $default-margin-vertical: $space-vertical2x !default;
  $vspace-margin: $space-vertical !default;
  
  $wrapper-main-width:      $page-viewport !default;
  $wrapper-main-width-xl:   $page-viewport-xl !default;
  $wrapper-main-padding:    $page-side-padding !default;
  $wrapper-main-padding-xl: $page-side-padding-xl !default;
  $wrapper-main-padding-m:  $page-side-padding-m !default;
  $wrapper-main-padding-s:  $page-side-padding-s !default;
  
  // grid 12
  $grid12-width:      $page-viewport !default;
  $grid12-width-xl:   $page-viewport-xl !default;
  
  $grid12-padding:    $page-side-padding !default;
  $grid12-padding-m:  $page-side-padding-m !default;
  $grid12-padding-s:  $page-side-padding-s !default;
  
  $grid12-gutter:     $space-horizontal !default;
  $grid12-gutter-xl:  $space-horizontal-xl !default;
  $grid12-gutter-m:   $space-horizontal-m !default;
  $grid12-gutter-s:   $space-horizontal-s !default;
  
  $grid12-row-margin-vertical:  $space-vertical !default;

// ----------------------------
// BUTTONS

  $btn-padding:       9px 20px !default;
  $btn-bg-color:      $color-darkgrey !default;
  $btn-border-color:  $color-darkgrey-dark !default;
  $btn-border-radius: $border-radius-main !default;
  $btn-font-size:     $font-size-root !default;
  $btn-text-color:    $color-white !default;
  $btn-ease:          $ease-200 !default;
  
  $btn-hover-bg-color:      $color-darkgrey-light !default;
  $btn-hover-border-color:  $color-darkgrey !default;
  $btn-hover-text-color:    $color-white !default;
  $btn-active-bg-color:     $color-darkgrey-lighter !default;
  
  $btn-icon-margin: 10px;
  $btn-icon-padding: 40px;
  $btn-icon-position: 10px;
  
  $btn-l-padding: 17px 24px !default;
  $btn-l-font-size: $font-size-18 !default;
  $btn-l-icon-margin: 12px;
  
  $btn-s-padding: 5px 20px !default;
  $btn-s-font-size: $font-size-xxs !default;
  
  $btn-primary-bg-color:      $color-orange !default; 
  $btn-primary-border-color:  $color-orange-dark !default;
  $btn-primary-text-color:    $color-white !default;
  
  $btn-primary-hover-bg-color:      $color-orange-light !default;
  $btn-primary-hover-border-color:  $color-orange !default;
  $btn-primary-hover-text-color:    $color-white !default;
  $btn-primary-active-bg-color:     $color-orange-lighter !default;
  
  $btnline-btn-margin: 10px !default;
  $btnblock-btn-margin: 10px !default;
  
  $btnbar-btngroup-margin: 10px !default;
  
// ----------------------------
// FORMS

  $input-height: 40px !default;
  $input-padding: 9px 11px !default;
  $input-bg-color: $color-white !default;
  $input-border-color: $color-black !default;
  $input-border-radius: $border-radius-main !default;
  $input-font-size: $font-size-root !default;
  $input-text-color: $color-black !default;
  $input-ease: $ease-200 !default;
  
  $input-l-height: 56px;
  $input-l-padding: 17px 15px;
  $input-l-font-size: $font-size-18;
  $input-s-height: 32px;
  $input-s-padding: 5px 11px;
  $input-s-font-size: $font-size-xxs !default;
  
  $input-hover-border-color: $color-orange !default;
  $input-hover-box-shadow: $box-shadow-lvl-1 !default;
  
  $input-error-border-color: $color-error !default;
  $input-error-text-color: $color-error !default;
  
  $form-control-vertical-margin: $space-vertical !default;

  $form-label-padding: 10px 0;
  $form-label-text-color: $color-black !default;
  $form-label-font-size: $font-size-root !default;
  
  $form-label-l-padding: 18px 0;
  $form-label-l-font-size: $font-size-18 !default;
  
  $form-label-s-padding: 6px 0;
  $form-label-s-font-size: $font-size-xxs !default;
  
  $form-gutter:     $space-horizontal !default;
  $form-gutter-xl:  $space-horizontal-xl !default;
  $form-gutter-m:   $space-horizontal-m !default;
  $form-gutter-s:   $space-horizontal-s !default;
  
  $dropdown-list-padding: 4px 0 !default;
  $dropdown-list-bg-color: $color-white !default;
  $dropdown-list-border-color: $color-semiblack-2 !default;
  $dropdown-list-border-radius: $border-radius-main !default;
  $dropdown-list-box-shadow: $box-shadow-lvl-1 !default;
  $dropdown-list-z-index: $z-index-default !default;
  $dropdown-list-ease: $ease-200 !default;
  $dropdown-list-ease-delayed: $ease-200-delayed !default;

  $dropdown-list-item-padding: 4px 20px !default;
  $dropdown-list-item-text-color: $color-black !default;
  $dropdown-list-item-ease: $ease-200 !default;
  $dropdown-list-item-hover-bg-color: fade-out($color-black,0.95) !default;
  
  $checkbox-margin: 13px !default;
  $checkbox-size: 16px;
  $checkbox-bg-color: $color-white;
  $checkbox-border-color: $color-black;
  $checkbox-border-radius: 2px;
  
  $checkbox-label-margin: 25px;
  $checkbox-label-font-size: 16px;
  
  $checkbox-checked-bg-color: $color-orange;
  
  $checkbox-error-border-color: $color-error;
  $checkbox-error-text-color: $color-error;
  
  $select-control-height: $input-height;
  $select-control-padding: $input-padding;
  $select-control-bg-color: $input-bg-color;
  $select-control-border-color: $input-border-color;
  $select-control-border-radius: $input-border-radius;
  $select-control-font-size: $input-font-size;
  $select-control-text-color: $input-text-color;
  $select-control-ease: $input-ease;
  
  $select-dropdown-padding: $dropdown-list-padding;
  $select-dropdown-z-index: $dropdown-list-z-index;
  $select-dropdown-bg-color: $dropdown-list-bg-color;
  $select-dropdown-border-color: $dropdown-list-border-color;
  $select-dropdown-border-radius: $dropdown-list-border-radius;
  $select-dropdown-ease-delayed: $dropdown-list-ease-delayed;
  $select-dropdown-ease: $dropdown-list-ease;
  
  $select-dropdown-item-padding: $dropdown-list-item-padding;
  $select-dropdown-item-text-color: $dropdown-list-item-text-color;
  $select-dropdown-item-ease: $dropdown-list-item-ease; 
  $select-dropdown-item-hover-bg-color: $dropdown-list-item-hover-bg-color;
  $select-dropdown-item-hover-text-color: $color-orange;

// ----------------------------
// MEDIA

  $media-w-xl:  1440px !default;
  $media-w-l:   1439px !default;
  $media-w-m:   959px !default;
  $media-w-s:   767px !default;
  $media-w-xs:  479px !default; 
  
  @mixin media-w-xl() {
    @media screen and (min-width: $media-w-xl) { @content }
  }

  @mixin media-w-l() {
    @media screen and (min-width: $media-w-l) { @content }
  }

  @mixin media-w-m() {
    @media screen and (max-width: $media-w-m) { @content }
  }

  @mixin media-w-s() {
    @media screen and (max-width: $media-w-s) { @content }
  }

  @mixin media-w-xs() {
    @media screen and (max-width: $media-w-xs) { @content }
  }

// ----------------------------
// STYLE GUIDE
  
  // style guide
  $style-guide-bg-color:    $color-white !default;
  $style-guide-text-color:  $color-orange !default;
  $style-guide-font-family: $font-family-modernica !default;
  
  // style guide header
  $style-guide-header-bg-color:   darken($color-orange, 10%) !default;
  $style-guide-header-text-color: $color-white !default;
  
  // style guide section header
  $style-guide-section_header-bg-color:   $color-orange !default;
  $style-guide-section_header-text-color: $color-white !default;
  

  
