// ---------------------------------------------
// GRID
// ---------------------------------------------

  .wrapper-main {
    width: 100%;
    max-width: $wrapper-main-width;
    margin: 0 auto;
    padding: 0 $wrapper-main-padding;
  } // /main wrapper

  .grid-12col {
    width: 100%;
    max-width: $grid12-width;
    margin: 0 auto;
    
    @include grid-base(12, $grid12-gutter, $grid12-row-margin-vertical);
    @include grid-columns(12, 12);
    @include grid-offsets(12, 12);
  }

  @include media-w-xl {
    .wrapper-main{
      max-width: $wrapper-main-width-xl;
      padding: 0 $wrapper-main-padding-xl;
    }

    .grid-12col {
      max-width: $grid12-width-xl;
      @include grid-gutters(12, $grid12-gutter-xl);
      @include grid-columns-prefixed(12, 12, 'xl');
      @include grid-offsets-prefixed(12, 12, 'xl');
    }
  }

  @include media-w-m {
    .wrapper-main{
      padding: 0 $wrapper-main-padding-m;
    }

    .grid-12col {
      max-width: none;
      @include grid-gutters(12, $grid12-gutter-m);
      @include grid-columns(12, 6);
      @include grid-columns-prefixed(12, 6, 'm');
      @include grid-offsets(12, 6);
      @include grid-offsets-prefixed(12, 6, 'm');
      padding: 0 $grid12-padding-m;
    }
  }

  @include media-w-s {
    .wrapper-main{
      padding: 0 $wrapper-main-padding-s;
    }

    .grid-12col {
      @include grid-gutters(12, $grid12-gutter-s);
      @include grid-columns(12, 4);
      @include grid-columns-prefixed(12, 4, 's');
      @include grid-offsets(12, 4);
      @include grid-offsets-prefixed(12, 4, 's');
      padding: 0 $grid12-padding-s;
    }
  }

  @include media-w-xs {
    .grid-12col {
      @include grid-columns(12, 1);
      @include grid-columns-prefixed(12, 2, 'xs');
      @include grid-offsets-prefixed(12, 2, 'xs');
    }
  }

// ---------------------------------------------
// UTILITY CLASSES

  .pull-right {float: right;}
  .pull-left {float: left;}

  .clearfix { @include clearfix; }

  .center-unknown { @include center-unknown('>'); }

  hr {
    height: 1px;
    display: block;
    margin: $default-margin-vertical 0;
    border: none;
    border-top: 1px solid $hr-bg-color;
  }

  .show-xl {  display: none !important;}
  .show-m {   display: none !important;}
  .show-s {   display: none !important;}
  .show-xs {  display: none !important;}

  .show-l {   display: inherit !important;}
  .hide-l {   display: none !important;}

  @include media-w-xl {
    .show-l {   display: none !important;}
    .show-m {   display: none !important;}
    .show-s {   display: none !important;}
    .show-xs {  display: none !important;}

    .show-xl {  display: inherit !important;}
    .hide-xl {  display: none !important;}
  }

  @include media-w-m {
    .show-xl {  display: none !important;}
    .show-l {   display: none !important;}
    .show-s {   display: none !important;}
    .show-xs {  display: none !important;}

    .show-m {   display: inherit !important;}
    .hide-m {   display: none !important;}
  }

  @include media-w-s {
    .show-xl {  display: none !important;}
    .show-l {   display: none !important;}
    .show-m {   display: none !important;}
    .show-xs {  display: none !important;}

    .show-s {   display: inherit !important;}
    .hide-s {   display: none !important;}
  }

    @include media-w-xs {
    .show-xl {  display: none !important;}
    .show-l {   display: none !important;}
    .show-m {   display: none !important;}
    .show-s {   display: none !important;}

    .show-xs {  display: inherit !important;}
    .hide-xs {  display: none !important;}
  }

  