<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sg test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- build:css styles/vendor.css-->
    <!-- endbuild-->
    <!-- build:css({.tmp,app}) styles/main.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <link rel="stylesheet" href="icons/icomoon/style.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild-->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header class="style-guide-header">
      <div class="wrapper-main center-unknown">
        <h1 class="style-guide-header_headline">Style Guide</h1>
      </div>
      <!-- end: wrapper-main-->
    </header>
    <article class="style-guide-content">
      <section id="sg-color-pallete" class="style-guide-section">
        <header class="style-guide-section_header">
          <div class="wrapper-main"><a data-target="#sg-color-pallete" data-toggle-icon="arrowup" class="js-toggle">
              <h2>Color Palette<span class="style-guide-section_toggle"><i class="icon icon-semiwhite icon-h-white">arrowdown</i></span></h2></a></div>
        </header>
        <div class="style-guide-section_content">
          <div class="wrapper-main">
            <ul class="style-guide_color-palette">
              <li class="style-guide_color-palette_color"></li>
              <li class="style-guide_color-palette_color"></li>
              <li class="style-guide_color-palette_color"></li>
              <li class="style-guide_color-palette_color"></li>
              <li class="style-guide_color-palette_color"></li>
              <li class="style-guide_color-palette_color"></li>
              <li class="style-guide_color-palette_color"></li>
            </ul>
          </div>
        </div>
      </section>
      <section id="sg-typography" class="style-guide-section">
        <header class="style-guide-section_header">
          <div class="wrapper-main"><a data-target="#sg-typography" data-toggle-icon="arrowup" class="js-toggle">
              <h2>Typography<span class="style-guide-section_toggle"><i class="icon icon-semiwhite icon-h-white">arrowdown</i></span></h2></a></div>
        </header>
        <div class="style-guide-section_content">
          <div class="wrapper-main">
            <h1>Headline 1: Lorem ipsum</h1>
            <p class="subh1">Subheadline 1: Lorem ipsum Irure esse reprehenderit dolor deserunt adipisicing elit esse voluptate in proident ut ad incididunt Duis nostrud enim qui labore id.</p>
            <h2>Headline 2: Lorem ipsum Dolore eiusmod.</h2>
            <p class="subh2">Subheadline 2: Lorem ipsum Nulla sunt commodo qui mollit tempor sunt in Excepteur sint in dolor non laboris velit exercitation reprehenderit commodo velit.</p>
            <h3>Headline 3: Lorem ipsum Cupidatat irure dolor est.</h3>
            <p class="subh3">Subheadline 3: Lorem ipsum Ad in deserunt veniam aliqua id cillum ex nostrud incididunt ad sint consequat cupidatat ea consequat in sint cupidatat labore.</p>
            <h4>Headline 4: Lorem ipsum In laborum consequat amet aute dolor.</h4>
            <p class="subh4">Subheadline 4: Lorem ipsum Sit ut magna qui ex sit est anim sunt deserunt laborum ut nostrud laboris ad commodo aute.</p>
            <p class="text-big"><strong>Hero text:</strong> Lorem ipsum Dolor quis adipisicing in in minim laborum adipisicing eu irure voluptate quis dolore sit cillum minim in adipisicing adipisicing occaecat laborum.</p>
            <p><strong>Body text:</strong> Lorem ipsum <a>Ullamco voluptate</a> veniam consectetur mollit adipisicing labore cupidatat ad in dolore reprehenderit minim incididunt sunt exercitation in in labore ullamco enim aliqua dolore pariatur ullamco Ut velit adipisicing pariatur mollit tempor cupidatat magna Excepteur ut in sed nostrud deserunt do laborum occaecat laborum Ut dolor elit ad consectetur culpa sit Duis cupidatat Duis laboris <a>voluptate</a> est nulla dolore elit ullamco sed pariatur pariatur sed Duis reprehenderit voluptate officia non enim laboris sit sint deserunt ullamco in fugiat dolor ullamco esse id ut <em>aliqua labore</em> pariatur labore aliqua enim cillum aute nostrud nulla ea et in nostrud do in veniam commodo consectetur reprehenderit minim <strong>consectetur incididunt</strong> adipisicing deserunt pariatur non eiusmod velit ut quis aliquip qui occaecat in ex in adipisicing sunt.</p>
            <p class="text-desc"><strong>Description text:</strong> Lorem ipsum Sed dolor magna cillum aliquip adipisicing occaecat nisi veniam deserunt est magna qui consequat Ut enim commodo laboris reprehenderit eu nostrud et tempor velit.</p>
            <p class="text-small"><strong>Small text:</strong> Lorem ipsum Dolore veniam in ex ut culpa sunt incididunt aliquip et eu consectetur culpa quis elit anim magna enim dolor dolor officia occaecat sed tempor irure fugiat ullamco et laboris reprehenderit amet tempor sit nulla ut proident ex exercitation veniam.</p>
            <hr>
            <h3>Lists:</h3>
            <p class="subh3">Unordered</p>
            <ul>
              <li>Est dolor incididunt eiusmod.</li>
              <li>Ad dolor ea aliquip officia.</li>
              <li>Aliqua anim esse eu ex.</li>
              <li>Est sit enim est.</li>
              <li>Labore deserunt elit dolor commodo mollit.</li>
            </ul>
            <p class="subh3">Ordered</p>
            <ol>
              <li>Est dolor incididunt eiusmod.</li>
              <li>Ad dolor ea aliquip officia.</li>
              <li>Aliqua anim esse eu ex.</li>
              <li>Est sit enim est.</li>
              <li>Labore deserunt elit dolor commodo mollit.</li>
            </ol>
            <p class="subh3">Inline list</p>
            <ul class="list-inline">
              <li>List inline</li>
              <li>Ad dolor</li>
              <li>Aliqua anim</li>
              <li>Est sit</li>
              <li>Labore deserunt</li>
            </ul>
            <ul class="list-inline list-inline-expanded">
              <li>List inline expanded</li>
              <li>Ad dolor</li>
              <li>Aliqua anim</li>
              <li>Est sit</li>
              <li>Labore deserunt</li>
            </ul>
            <p class="subh3">Description list</p>
            <dl>
              <dt>Nulla elit</dt>
              <dd>Do dolor anim sit dolore ex.</dd>
              <dt>Veniam ut amet</dt>
              <dd>Non dolore in sed.</dd>
              <dt>Eiusmod aute</dt>
              <dd>Eu sed sint irure.</dd>
            </dl>
          </div>
        </div>
      </section>
      <section id="sg-icons" class="style-guide-section">
        <header class="style-guide-section_header">
          <div class="wrapper-main"><a data-target="#sg-icons" data-toggle-icon="arrowup" class="js-toggle">
              <h2>Icons<span class="style-guide-section_toggle"><i class="icon icon-semiwhite icon-h-white">arrowdown</i></span></h2></a></div>
        </header>
        <div class="style-guide-section_content">
          <div class="wrapper-main">
            <ul class="style-guide_icons-list list-inline list-inline-expanded">
              <li class="style-guide_icons-list_item"><i class="icon-l">home</i><br><abbr title="home" class="text-color-semiblack">home</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">edit</i><br><abbr title="edit" class="text-color-semiblack">edit</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">calendar</i><br><abbr title="calendar" class="text-color-semiblack">calendar</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">user</i><br><abbr title="user" class="text-color-semiblack">user</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">settings</i><br><abbr title="settings" class="text-color-semiblack">settings</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">download</i><br><abbr title="download" class="text-color-semiblack">download</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">close</i><br><abbr title="close" class="text-color-semiblack">close</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">check</i><br><abbr title="check" class="text-color-semiblack">check</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">arrowup</i><br><abbr title="arrowup" class="text-color-semiblack">arrowup</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">arrowright</i><br><abbr title="arrowright" class="text-color-semiblack">arrowright</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">arrowdown</i><br><abbr title="arrowdown" class="text-color-semiblack">arrowdown</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">arrowleft</i><br><abbr title="arrowleft" class="text-color-semiblack">arrowleft</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">arrowcircleup</i><br><abbr title="arrowcircleup" class="text-color-semiblack">arrowcircleup</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">arrowcircleright</i><br><abbr title="arrowcircleright" class="text-color-semiblack">arrowcircleright</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">arrowcircledown</i><br><abbr title="arrowcircledown" class="text-color-semiblack">arrowcircledown</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">arrowcircleleft</i><br><abbr title="arrowcircleleft" class="text-color-semiblack">arrowcircleleft</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">googleplus</i><br><abbr title="googleplus" class="text-color-semiblack">googleplus</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">facebook</i><br><abbr title="facebook" class="text-color-semiblack">facebook</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">twitter</i><br><abbr title="twitter" class="text-color-semiblack">twitter</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">youtube</i><br><abbr title="youtube" class="text-color-semiblack">youtube</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">linkedin</i><br><abbr title="linkedin" class="text-color-semiblack">linkedin</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">chevronleft</i><br><abbr title="chevronleft" class="text-color-semiblack">chevronleft</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">chevronright</i><br><abbr title="chevronright" class="text-color-semiblack">chevronright</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">chevronup</i><br><abbr title="chevronup" class="text-color-semiblack">chevronup</abbr></li>
              <li class="style-guide_icons-list_item"><i class="icon-l">chevrondown</i><br><abbr title="chevrondown" class="text-color-semiblack">chevrondown</abbr></li>
            </ul>
            <h3>Icons sizes</h3>
            <ul class="style-guide_icons-list list-inline list-inline-expanded">
              <li class="style-guide_icons-list_item"><span>XL</span><br><i class="icon-xl">home</i></li>
              <li class="style-guide_icons-list_item"><span>L</span><br><i class="icon-l">home</i></li>
              <li class="style-guide_icons-list_item"><span>M</span><br><i class="icon-m">home</i></li>
              <li class="style-guide_icons-list_item"><span>S</span><br><i class="icon-S">home</i></li>
            </ul>
          </div>
        </div>
      </section>
      <section id="sg-grid" class="style-guide-section">
        <header class="style-guide-section_header">
          <div class="wrapper-main"><a data-target="#sg-grid" data-toggle-icon="arrowup" class="js-toggle">
              <h2>Grid system<span class="style-guide-section_toggle"><i class="icon icon-semiwhite icon-h-white">arrowdown</i></span></h2></a></div>
        </header>
        <div class="style-guide-section_content">
          <div class="wrapper-main">
            <h3>Main Breakpoints</h3>
            <dl>
              <dt>XL</dt>
              <dd>1440px +</dd>
              <dt>L</dt>
              <dd>960px - 1439px</dd>
              <dt>M</dt>
              <dd>768px - 959px</dd>
              <dt>S</dt>
              <dd>480px - 767px</dd>
              <dt>XS</dt>
              <dd>320px - 479px</dd>
            </dl>
            <p class="text-desc">L,M,S are main breakpoits. <br> S and XS is separated only in development for better responsivity.</p>
          </div>
          <div class="grid-12col">
            <h3>12 columns grid system</h3>
            <p class="subh3">(XL: 12 cols, L: 12cols, M: 6 cols, S: 4cols, XS: 2cols)</p>
            <p class="subh3">Basic layout</p>
            <div class="row row-space">
              <div class="col-1">
                <div class="debug"><abbr title=".col-1">1</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="debug"><abbr title=".col-2">2</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-3">
                <div class="debug"><abbr title=".col-3">3</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-4">
                <div class="debug"><abbr title=".col-4">4</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-5">
                <div class="debug"><abbr title=".col-5">5</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-6">
                <div class="debug"><abbr title=".col-6">6</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-7">
                <div class="debug"><abbr title=".col-7">7</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-8">
                <div class="debug"><abbr title=".col-8">8</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-9">
                <div class="debug"><abbr title=".col-9">9</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-10">
                <div class="debug"><abbr title=".col-10">10</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-11">
                <div class="debug"><abbr title=".col-11">11</abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-12">
                <div class="debug"><abbr title=".col-12">12</abbr></div>
              </div>
            </div>
            <p class="subh3">Complex layout</p>
            <div class="row row-space">
              <div class="col-xl-3 col-2 col-m-1 col-s-1 col-xs-1">
                <div class="debug"><abbr title=".col-xl-3.col-2.col-m-1.col-s-1.col-xs-1"><span class="show-xl">XL: 3/12</span><span class="show-l">L: 2/12</span><span class="show-m">M: 1/6</span><span class="show-s">S: 1/4</span><span class="show-xs">XS: 1/2</span></abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-xl-3 col-4 col-m-2 col-s-2 col-xs-1">
                <div class="debug"><abbr title=".col-xl-.col-4.col-m-2.col-s-2.col-xs-1"><span class="show-xl">XL: 3/12</span><span class="show-l">L: 4/12</span><span class="show-m">M: 2/6</span><span class="show-s">S: 2/4</span><span class="show-xs">XS: 1/2</span></abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-xl-4 col-6 col-m-3 col-s-3 col-xs-2">
                <div class="debug"><abbr title=".col-xl-4.col-6.col-m-3.col-s-3.col-xs-2"><span class="show-xl">XL: 4/12</span><span class="show-l">L: 6/12</span><span class="show-m">M: 3/6</span><span class="show-s">S: 3/4</span><span class="show-xs">XS: 2/2</span></abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-xl-6 col-8 col-m-4 col-s-4 col-xs-2">
                <div class="debug"><abbr title=".col-xl-6.col-8.col-m-4.col-s-4.col-xs-2"><span class="show-xl">XL: 6/12</span><span class="show-l">L: 8/12</span><span class="show-m">M: 4/6</span><span class="show-s">S: 4/4</span><span class="show-xs">XS: 2/2</span></abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-xl-8 col-10 col-m-5 col-s-1 col-xs-1">
                <div class="debug"><abbr title=".col-xl-8.col-10.col-m-5.col-s-1.col-xs-1"><span class="show-xl">XL: 8/12</span><span class="show-l">L: 10/12</span><span class="show-m">M: 5/6</span><span class="show-s">S: 1/4</span><span class="show-xs">XS: 1/2</span></abbr></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-xl-10 col-12 col-m-6 col-s-2 col-xs-2">
                <div class="debug"><abbr title=".col-xl-10.col-12.col-m-6.col-s-2.col-xs-2"><span class="show-xl">XL: 10/12</span><span class="show-l">L: 12/12</span><span class="show-m">M: 6/6</span><span class="show-s">S: 2/4</span><span class="show-xs">XS: 2/2</span></abbr></div>
              </div>
            </div>
            <p class="subh3">Offsets</p>
            <div class="row row-space">
              <div class="col-4 ofst-1 col-m-3 ofst-m-0 col-s-2 ofst-s-0">
                <div class="debug"><abbr title=".col-4.ofst-1.col-m-3.ofst-m-0.col-s-2.ofst-s-0"><span class="show-l show-xl">L: Ofst: 1, W: 4</span><span class="show-m">M: Ofst: 0, W: 3</span><span class="show-s show-xs">S: Ofst: 0, W: 2</span></abbr></div>
              </div>
              <div class="col-4 ofst-2 col-m-3 ofst-m-0 col-s-2 ofst-s-0">
                <div class="debug"><abbr title=".col-4.ofst-1.col-m-3.ofst-m-0.col-s-2.ofst-s-0"><span class="show-l show-xl">L: Ofst: 2, W: 4</span><span class="show-m">M: Ofst: 0, W: 3</span><span class="show-s show-xs">S: Ofst: 0, W: 2</span></abbr></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="sg-buttons" class="style-guide-section">
        <header class="style-guide-section_header">
          <div class="wrapper-main"><a data-target="#sg-buttons" data-toggle-icon="arrowup" class="js-toggle">
              <h2>Buttons<span class="style-guide-section_toggle"><i class="icon icon-semiwhite icon-h-white">arrowdown</i></span></h2></a></div>
        </header>
        <div class="style-guide-section_content">
          <div class="grid-12col">
            <div class="row row-space">
              <div class="col-4 col-s-1 col-xs-1">
                <p class="subh3">Default</p>
                <div class="btnblock"><a class="btn">Default</a>
                  <button type="button" class="btn">Default</button>
                  <input type="submit" value="Default" class="btn"><a class="btn disabled">Default</a>
                </div>
              </div>
              <div class="col-4 col-s-1 col-xs-1">
                <p class="subh3">Primary</p>
                <div class="btnblock"><a class="btn btn-primary">Primary</a><a class="btn btn-primary disabled">Primary</a></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-12">
                <h3>Button sizes</h3>
              </div>
              <div class="col-6 col-s-2 col-xs-2">
                <p class="subh3">Button L/M/S</p>
                <div class="btnblock"><a class="btn btn-l">Large</a><a class="btn">Medium</a><a class="btn btn-s">Small</a></div>
              </div>
              <div class="col-6 col-s-2 col-xs-2">
                <p class="subh3">Button width sizes</p>
                <div class="btnblock">
                  <div class="btn btn-full">Full width</div>
                  <div class="btn btn-full-s">Full width for S layout</div>
                  <div class="btn btn-full-xs">Full width for XS layout</div>
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-12">
                <h3>Button layouts</h3>
              </div>
              <div class="col-6 col-s-2 col-xs-2">
                <p class="subh3">Button block</p>
                <div class="btnblock"><a class="btn">Button</a><a class="btn">Button</a></div>
              </div>
              <div class="col-6 col-s-2 col-xs-2">
                <p class="subh3">Button line</p>
                <div class="btnline"><a class="btn">Button</a><a class="btn">Button</a></div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-12">
                <h3>Buttons with icons</h3>
              </div>
              <div class="col-6 col-s-4">
                <p class="subh3">Floating icons</p>
                <div class="btninline">
                  <div class="btn"><i class="icon icon-left">download</i>Download</div>
                  <div class="btn btn-primary">Settings<i class="icon icon-right">settings</i></div>
                </div>
              </div>
              <div class="col-4 col-s-2">
                <p class="subh3">Positioned icons</p>
                <div class="btnblock">
                  <div class="btn btn-full btn-icon-left"><i class="icon">arrowcircleleft</i>Back</div>
                  <div class="btn btn-primary btn-full btn-icon-right">Next<i class="icon">arrowcircleright</i></div>
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-12">
                <h3>Button groups</h3>
              </div>
              <div class="col-6 col-m-6 col-s-4">
                <p class="subh3">Button groups inline</p>
                <div class="btn-group btn-group-stack-full-xs"><a class="btn">Button 1</a><a class="btn">Button 2</a><a class="btn">Button 3</a></div><br>
                <div class="btn-group btn-group-stack-full-xs"><a class="btn btn-l">Button 1</a><a class="btn btn-l">Button 2</a><a class="btn btn-l"><i class="icon"> settings</i></a></div><br>
                <div class="btn-group btn-group-stack-full-xs"><a class="btn btn-s btn-primary">Button 1</a><a class="btn btn-s btn-primary">Button 2</a><a class="btn btn-s btn-primary"><i class="icon icon-left">download</i>Button 3</a></div>
              </div>
              <div class="col-6 col-m-3 col-s-3">
                <p class="subh3">Button groups vertical</p>
                <div class="btn-group btn-group-stack btn-group-stack-full-m"><a class="btn">Button 1</a><a class="btn">Button 2</a><a class="btn">Button 3</a></div>
              </div>
              <div class="col-12">
                <p class="subh3">Button bars</p>
                <div class="btn-bar btn-bar-stack-xs">
                  <div class="btn-group btn-group-stack-s btn-group-stack-full-xs"><a class="btn">Button 1</a><a class="btn">Button 2</a></div>
                  <div class="btn-group btn-group-stack-s btn-group-stack-full-xs"><a class="btn">Button 3</a><a class="btn btn-primary">Button 4</a><a class="btn btn-primary">Button 5</a></div>
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-12">
                <h3>Button dropdowns</h3>
              </div>
              <div class="col-6">
                <p class="subh3">Dropdowns</p>
                <div class="btn-dropdown btn-dropdown-full-xs"><a data-target="parent" data-toggle="dropdown" data-toggle-icon="chevronup" class="btn js-toggle">Button dropdown<i class="icon icon-dropdown">chevrondown</i></a>
                  <ul class="dropdown-list">
                    <li><a class="dropdown-list_item">List item 1</a></li>
                    <li><a class="dropdown-list_item">List item 2</a></li>
                    <li><a class="dropdown-list_item">List item 3</a></li>
                    <li><a class="dropdown-list_item">List item 4</a></li>
                    <li><a class="dropdown-list_item">List item 5</a></li>
                  </ul>
                </div><br><br>
                <div class="btn-dropdown btn-dropdown-full-xs"><a data-target="parent" data-toggle="dropdown" data-toggle-icon="chevronup" class="btn btn-primary btn-l js-toggle">Button dropdown<i class="icon icon-dropdown">chevrondown</i></a>
                  <ul class="dropdown-list">
                    <li><a class="dropdown-list_item">List item 1</a></li>
                    <li><a class="dropdown-list_item">List item 2</a></li>
                    <li><a class="dropdown-list_item">List item 3</a></li>
                    <li><a class="dropdown-list_item">List item 4</a></li>
                    <li><a class="dropdown-list_item">List item 5</a></li>
                  </ul>
                </div><br><br>
                <div class="btn-dropdown btn-dropdown-full-xs"><a data-target="parent" data-toggle="dropdown" data-toggle-icon="chevronup" class="btn btn-s js-toggle">Button dropdown<i class="icon icon-dropdown">chevrondown</i></a>
                  <ul class="dropdown-list">
                    <li><a class="dropdown-list_item">List item 1</a></li>
                    <li><a class="dropdown-list_item">List item 2</a></li>
                    <li><a class="dropdown-list_item">List item 3</a></li>
                    <li><a class="dropdown-list_item">List item 4</a></li>
                    <li><a class="dropdown-list_item">List item 5</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <p class="subh3">Split buttons</p>
                <div class="btn-dropdown-split btn-dropdown-full-xs"><a data-target="parent" data-toggle="dropdown" data-toggle-icon="chevronup" class="btn btn-split-control js-toggle"><i class="icon">chevrondown</i></a><a class="btn btn-split btn-dropdown-full-xs">Button split</a>
                  <ul class="dropdown-list">
                    <li><a class="dropdown-list_item">List item 1</a></li>
                    <li><a class="dropdown-list_item">List item 2</a></li>
                    <li><a class="dropdown-list_item">List item 3</a></li>
                    <li><a class="dropdown-list_item">List item 4</a></li>
                    <li><a class="dropdown-list_item">List item 5</a></li>
                  </ul>
                </div><br><br>
                <div class="btn-dropdown-split btn-dropdown-full-xs"><a data-target="parent" data-toggle="dropdown" data-toggle-icon="chevronup" class="btn btn-primary btn-l btn-split-control js-toggle"><i class="icon">chevrondown</i></a><a class="btn btn-l btn-split btn-dropdown-full-xs">Button split</a>
                  <ul class="dropdown-list">
                    <li><a class="dropdown-list_item">List item 1</a></li>
                    <li><a class="dropdown-list_item">List item 2</a></li>
                    <li><a class="dropdown-list_item">List item 3</a></li>
                    <li><a class="dropdown-list_item">List item 4</a></li>
                    <li><a class="dropdown-list_item">List item 5</a></li>
                  </ul>
                </div><br><br>
                <div class="btn-dropdown-split btn-dropdown-full-xs"><a data-target="parent" data-toggle="dropdown" data-toggle-icon="chevronup" class="btn btn-primary btn-s btn-split-control js-toggle"><i class="icon">chevrondown</i></a><a class="btn btn-primary btn-s btn-split btn-dropdown-full-xs">Button split</a>
                  <ul class="dropdown-list">
                    <li><a class="dropdown-list_item">List item 1</a></li>
                    <li><a class="dropdown-list_item">List item 2</a></li>
                    <li><a class="dropdown-list_item">List item 3</a></li>
                    <li><a class="dropdown-list_item">List item 4</a></li>
                    <li><a class="dropdown-list_item">List item 5</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="sg-forms" class="style-guide-section active">
        <header class="style-guide-section_header">
          <div class="wrapper-main"><a data-target="#sg-forms" data-toggle-icon="arrowup" class="js-toggle">
              <h2>Form components<span class="style-guide-section_toggle"><i class="icon icon-semiwhite icon-h-white">arrowdown</i></span></h2></a></div>
        </header>
        <div class="style-guide-section_content">
          <form class="grid-12col">
            <h3>Inputs</h3>
            <div class="row">
              <div class="col-6">
                <p class="subh3">Input L/M/S</p>
                <div class="form-row">
                  <div class="form-controls">
                    <input type="text" placeholder="Input large" class="form-control form-control-l">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-controls">
                    <input type="text" placeholder="Input medium" class="form-control form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-controls">
                    <input type="text" placeholder="Input small" class="form-control form-control-s">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p class="subh3">Input states</p>
                <div class="form-row">
                  <div class="form-controls">
                    <input type="text" disabled placeholder="Input disabled" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-controls">
                    <input type="text" readonly placeholder="Input readonly" value="Input readonly" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-controls">
                    <input type="text" placeholder="Input error" value="Input error" class="form-control error">
                  </div>
                </div>
              </div>
            </div>
            <h3>Textarea</h3>
            <div class="row">
              <div class="col-6">
                <div class="form-row">
                  <div class="form-controls">
                    <textarea rows="4" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <h3>Checkbox / Radio</h3>
            <div class="row">
              <div class="col-6">
                <p class="subh3">Checkboxes</p>
                <div class="form-row">
                  <div class="form-controls">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox-01" name="checkbox-01" class="checkbox-input">
                      <label for="checkbox-01" class="checkbox-custom"></label>
                      <label for="checkbox-01" class="checkbox-label">Checkbox</label>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-controls">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox-02" name="checkbox-02" disabled class="checkbox-input">
                      <label for="checkbox-02" class="checkbox-custom"></label>
                      <label for="checkbox-02" class="checkbox-label">Checkbox disabled</label>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-controls">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox-03" name="checkbox-03" class="checkbox-input error">
                      <label for="checkbox-03" class="checkbox-custom"></label>
                      <label for="checkbox-03" class="checkbox-label">Checkbox error</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p class="subh3">Radios</p>
                <div class="form-row">
                  <div class="form-controls">
                    <div class="radio">
                      <input type="radio" id="radio-01-01" name="radio-01" class="radio-input">
                      <label for="radio-01-01" class="radio-custom"></label>
                      <label for="radio-01-01" class="radio-label">Radio</label>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-controls">
                    <div class="radio">
                      <input type="radio" id="radio-01-02" name="radio-01" disabled class="radio-input">
                      <label for="radio-01-02" class="radio-custom"></label>
                      <label for="radio-01-02" class="radio-label">Radio disabled</label>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-controls">
                    <div class="radio">
                      <input type="radio" id="radio-01-03" name="radio-01" class="radio-input error">
                      <label for="radio-01-03" class="radio-custom"></label>
                      <label for="radio-01-03" class="radio-label">Radio error</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="subh3">Checkbox group</p>
                <div class="form-row">
                  <div class="form-controls">
                    <div class="checkbox-group">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-04" name="checkbox-04" class="checkbox-input">
                        <label for="checkbox-04" class="checkbox-custom"></label>
                        <label for="checkbox-04" class="checkbox-label">Checkbox 1</label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-05" name="checkbox-05" class="checkbox-input">
                        <label for="checkbox-05" class="checkbox-custom"></label>
                        <label for="checkbox-05" class="checkbox-label">Checkbox 2</label>
                      </div>
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-06" name="checkbox-06" class="checkbox-input">
                        <label for="checkbox-06" class="checkbox-custom"></label>
                        <label for="checkbox-06" class="checkbox-label">Checkbox 3</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p class="subh3">Radio group</p>
                <div class="form-row">
                  <div class="form-controls">
                    <div class="radio-group">
                      <div class="radio">
                        <input type="radio" id="radio-02-01" name="radio-02" class="radio-input">
                        <label for="radio-02-01" class="radio-custom"></label>
                        <label for="radio-02-01" class="radio-label">Radio 1</label>
                      </div>
                      <div class="radio">
                        <input type="radio" id="radio-02-02" name="radio-02" class="radio-input">
                        <label for="radio-02-02" class="radio-custom"></label>
                        <label for="radio-02-02" class="radio-label">Radio 2</label>
                      </div>
                      <div class="radio">
                        <input type="radio" id="radio-02-03" name="radio-02" class="radio-input">
                        <label for="radio-02-03" class="radio-custom"></label>
                        <label for="radio-02-03" class="radio-label">Radio 3</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3>Select</h3>
            <div class="row">
              <div class="col-6">
                <p class="subh3">Basic select</p>
                <div class="form-row">
                  <div class="form-controls">
                    <select class="js-select">
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <h3>Form layouts</h3>
            <div class="row">
              <div class="col-6 col-s-2">
                <p class="subh3">Vertical layout</p>
                <div class="form-row">
                  <div class="form-label">
                    <label>Form label:</label>
                  </div>
                  <div class="form-controls">
                    <input type="text" placeholder="Placeholder" class="form-control form-control">
                  </div>
                </div>
              </div>
              <div class="col-6 col-s-4">
                <p class="subh3">Horizontal layout</p>
                <div class="form-row row">
                  <div class="form-label form-label-inline form-label-stack-xs form-col-4">
                    <label>Form label:</label>
                  </div>
                  <div class="form-controls form-col-8">
                    <input type="text" placeholder="Input medium" class="form-control">
                  </div>
                </div>
                <div class="form-row row">
                  <div class="form-label form-label-l form-label-inline form-label-stack-xs form-col-4">
                    <label>Form label:</label>
                  </div>
                  <div class="form-controls form-col-8">
                    <input type="text" placeholder="Input large" class="form-control form-control-l">
                  </div>
                </div>
                <div class="form-row row">
                  <div class="form-label form-label-s form-label-inline form-label-stack-xs form-col-4">
                    <label>Form label:</label>
                  </div>
                  <div class="form-controls form-col-8">
                    <input type="text" placeholder="Input small" class="form-control form-control-s">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-s-2">
                <p class="subh3">Vertical block layout</p>
                <div class="form-row">
                  <div class="form-label">
                    <label>Form label:</label>
                  </div>
                  <div class="form-controls form-controls-block">
                    <input type="text" placeholder="Placeholder" class="form-control form-control">
                    <input type="text" placeholder="Placeholder" class="form-control form-control">
                  </div>
                </div>
              </div>
              <div class="col-6 col-s-4">
                <p class="subh3">Horizontal block layout</p>
                <div class="form-row row">
                  <div class="form-label form-label-inline form-label-stack-xs form-col-4">
                    <label>Form label:</label>
                  </div>
                  <div class="form-controls form-controls-block form-col-8">
                    <input type="text" placeholder="Placeholder" class="form-control">
                    <input type="text" placeholder="Placeholder" class="form-control">
                    <input type="text" placeholder="Placeholder" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="subh3">Multicolumn layout</p>
                <div class="row">
                  <div class="col-4 col-s-1">
                    <div class="form-row">
                      <div class="form-label">
                        <label>Form label:</label>
                      </div>
                      <div class="form-controls">
                        <input type="text" placeholder="Placeholder" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-4 col-s-1">
                    <div class="form-row">
                      <div class="form-label">
                        <label>Form label:</label>
                      </div>
                      <div class="form-controls">
                        <input type="text" placeholder="Placeholder" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-4 col-s-1">
                    <div class="form-row">
                      <div class="form-label">
                        <label>Form label:</label>
                      </div>
                      <div class="form-controls">
                        <input type="text" placeholder="Placeholder" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </article>
    <!-- build:js(./) scripts/vendor.js-->
    <!-- bower:js-->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:js scripts/plugins.js-->
    <script src="scripts/plugins/customselect.js"></script>
    <script src="scripts/plugins/toggle.js"></script>
    <script src="scripts/plugins/styleguide.js"></script>
    <!-- endbuild-->
    <!-- build:js({app,.tmp}) scripts/main.js-->
    <script src="scripts/main.js"></script>
    <!-- endbuild-->
  </body>
</html>
